<form method="post" action="/add" novalidate>
    <div class="container justify-content-center text-center text-uppercase">
        <br>
        <br>
        <h1>---------------------------<br>Create Tournament<br>---------------------------</h1>
        <div class="form-div container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="titleTextField">Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Tournament Title"
                    name="title" 
                    value=""
                    required>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="numOfPlayerTextField">Number of Players</label>
                    <select name="numOfPlayers" id="select-list">
                        <option value="8">8</option>
                        <option value="16">16</option>
                    </select>
                </div>
            </div>
            <br>
            <label for="numOfPlayerTextField">Team Names</label>
            <div id="teams-wrap">
                <div class="row justify-content-center">
                    <div class="col-md-2">                    
                        <input type="text" class="form-control"
                        id="team1NameTextField"
                        placeholder="Team Name"
                        name="teams" 
                        value=""
                        required>
                    </div>
                    <div class="col-md-2">
                    <input type="text" class="form-control"
                        id="team2NameTextField"
                        placeholder="Team Name"
                        name="teams" 
                        value=""
                        required>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <input type="text" class="form-control"
                        id="team3NameTextField"
                        placeholder="Team Name"
                        name="teams" 
                        value=""
                        required>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control"
                            id="team4NameTextField"
                            placeholder="Team Name"
                            name="teams" 
                            value=""
                            required>
                        </div>
                    </div>

                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <input type="text" class="form-control"
                        id="team5NameTextField"
                        placeholder="Team Name"
                        name="teams" 
                        value=""
                        required>
                        </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control"
                            id="team6NameTextField"
                        placeholder="Team Name"
                        name="teams" 
                        value=""
                        required>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <input type="text" class="form-control"
                        id="team7NameTextField"
                        placeholder="Team Name"
                        name="teams" 
                        value=""
                        required>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control"
                        id="team8NameTextField"
                        placeholder="Team Name"
                        name="teams" 
                        value=""
                        required>
                    </div>
                </div>
            </div>
        <br>
        <br>    
        <br>
        <br>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <button id="submit" class="btn btn-primary btn-lg text-uppercase" type="submit">Create</button>
                </div>
                <div class="col-md-2">
                    <a href="/home" id="cancel" type="reset" class="btn btn-warning btn-lg text-uppercase"><i></i>Cancel</a>
                </div>
            </div>
        </div>
    </div>    
</form>


<script>
    let selectTag = document.querySelector('#select-list');

    let teamsWrapDiv = document.querySelector('#teams-wrap');
    let string = teamsWrapDiv.innerHTML;

    selectTag.addEventListener('change', function(){
        let newString = '';
        if(selectTag.value == '8'){
            newString += string;
        }
        else if(selectTag.value == '16'){
            newString += string;
            newString += string;
        }
        teamsWrapDiv.innerHTML = newString;
    })
</script>
