<div>Detail page</div>
<button id="detailbtn">Button</button>

<div><%= game.title %></div>

<input id="json" type="hidden" value="<%= game %>">

<!-- javascript -->
<script>
    let game = document.getElementById('json').value;

    
    game = JSON.parse(game);

    console.log('asdf');

    let btn = document.getElementById('detailbtn');
    btn.addEventListener('click', function(){
        $.ajax('/add', {
        type: 'POST',  // http method
        data: { 
                myData: 'This is my data.',
                team1: 'yunki',
                winner: 'yunki'
                },  // data to submit
        success: function (data, status, xhr) {
            
        },
        error: function (jqXhr, textStatus, errorMessage) {
                
        }
    })

});
</script>