<style>
    /*Header Styles*/
    #navbar {
    background-color: #6c8494;
    }

    #logo_image{
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }

    .navbar-nav button{
        margin-right: 20px;
        }

    @media screen and (max-width: 992px) {
        .navbar-nav button {
        margin-right: 0px;
    }
    }   

    /*Main content Styles*/
    #detail-form {
        background-color: #142c3c;  
    }
</style>






<form id="detail-form">
    <div class="detail-div">Detail page</div>
    <button id="detailbtn">Button</button>
    
    <input type="" name="id" value="<%= game._id %>" >



    <div style="color: black;"><%= game.title %></div>






</form>


<!-- <input id="json" type="hidden" value="<%= game %>"> -->

<!-- javascript -->
<script>
    // let game = document.getElementById('json').value;


    let btn = document.getElementById('detailbtn');
    btn.addEventListener('click', function(){
        $.ajax('/api', {
        type: 'POST',  // http method
        data: { 
                myData: 'This is my data.',
                team1: 'yunki',
                winner: 'yunki'
                },  // data to submit
        success: function (data, status, xhr) {
            
        },
        error: function (jqXhr, textStatus, errorMessage) {
                
        }
    })

});
</script>