<h1>Login page</h1>
<form method="post" action="/login">
    username : <input type="text" name="username"> <br>
    password : <input type="password" name="password"> <br>
    <input type="submit">
</form>