<h1>Register page</h1>
<form method="post" action="/register">
    username : <input type="text" name="username"> <br>
    password : <input type="password" name="password"> <br>
    firstname : <input type="text" name="firstName"> <br>
    lastname : <input type="text" name="lastName"> <br>
    email : <input type="email" name="email"> <br>
    phone : <input type="text" name="phone"> <br>
    <input type="submit">
</form>