<!--File: footer.ejs
Group Name: Localhost3000
Student Names: Alexander Maynard
Date: 2022-11-10-->

<!--Simple container for footer content styled using bootstrap-->
<!--Bootstrap style sets as 'navbar positioning' and fixed position so the footer stays at the bottom (it stays in place even when the user scrolls)-->
<nav class="navbar fixed-bottom" style="background-color: lightgray;">
    <!--Bootstrap style so the footer resizes nicely withe the page size-->
    <div class="container-fluid">
      <!--Simple copyright line-->
      <h5 id="copyright">&copy; Copyright 2022 - Localhost3000</h5>
    </div>
  </nav>