<!--File: header.ejs
Group Name: Localhost3000
Student Names: Alexander Maynard
Date: 2022-11-10-->

<!--File: header.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-21-->


<!--Simple container for the header content-->
<!--Bootstrap nav bar-->
<!--Boostrap styles for the navbar--> 

<!--expand the header content when the page is big; hides into toggle format when page is small, sets navbar sets the navbar coloration as dark(so turns the text white) and text to uppercase-->
<!--Personal background-color change as well-->
<nav class="navbar navbar-expand-lg navbar-dark text-uppercase" id="navbar">
    <!--Bootstrap sets the header content to resizze when the page grows or shrinks-->
    <div class="container-fluid">

      <!--Bootstrap styling to control how the nav is displayed normally or when page resizes (toggle)-->
      <a class="navbar-brand" href="/"><i class="fa-solid  fa-lg"></i><!--Icon I made (Group Logo)--><img id="logo_image" src="/images/Localhost3000Logo_DarkTheme.png" alt="COMP229 - Team Logo(Locahost3000)" ><span>Tournament Bracket</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--Bootstrap nav styles for aligning items-->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#loginModal">
            Login
          </button>
          <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#registerModal">
            Register
          </button>
          <button type="button" class="btn btn-primary mb-2">
            Admin
          </button>
          
            <!--Bootsrap class nav-item sets items as nav items and nav-link acts as link to various pages and sets active page icon color darker than the rest-->
            <!--Boostrap link to profile page if logged in-->
            <!--<% if(true) { %>
            <li class="nav-item">
                <a class="nav-link <%= (page == 'profile') ? 'active' : ''; %>" aria-current="page" href="/profile"><i class="fa-solid fa-user fa-lg"></i>Profile</a>
            </li>
            <% } %>-->


          <!--Boostrap link to logout button if logged in-->
          <!--<% if(true) { %>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i> Logout</a>
            </li>-->
            <!--Otherwise if logged out (if displayName false) it shows login on nav bar and the link leads to login-->
            <!--<% } else { %>
            <li class="nav-item">
                <a class="nav-link <%= (page == 'login') ? 'active' : ''; %>" aria-current="page" href="/login"><i class="fa-solid fa-right-to-bracket fa-lg"></i>Login</a>
            </li>
            <% } %>-->
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Login</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1">
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Register</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>